In [1]:
# set seed to reproduce results with tf and keras
from numpy.random import seed
seed(1)
# other imports
import numpy as np
import matplotlib.pyplot as plt
import pickle
import numpy as np
import pandas as pd
import pandas as pd

path =  "../../data/"
dataset = "cb12/"

raw_path = path + dataset + "raw/" 
interim_path = path + dataset + "interim/"
processed_path = path + dataset + "processed/"

C:\Users\romai\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
break # skip this part

SyntaxError: 'break' outside loop (3195771789.py, line 1)

In [ ]:
interactions = pd.read_csv("../../data/cb12/interim/merged_valid_interactions.csv", header=0, sep='\t')
items = pd.read_csv(interim_path + "nlp_items.csv", header=0, sep='\t')

In [ ]:
items.drop(columns=['city','country', 'zip5'], inplace = True)

In [ ]:
# Get unique item_ids from interactions
unique_item_ids = interactions['item_id'].unique()
print(len(unique_item_ids))

print(len(items))
# Filter items where 'item_id' is in unique_item_ids
items = items[items['item_id'].isin(unique_item_ids)]
print(len(items))

In [ ]:
#view_fields = ["item_id", "state", "ReqTopic", "DescTopic", "TitTopic"]
common_items = items.merge(interactions, on=['item_id']).drop_duplicates() #[view_fields].drop_duplicates()

In [ ]:
common_items.drop(columns=['Unnamed: 0', 'user_id', 'created_at', 'interaction_type'], inplace=True)
print(len(common_items))
print(common_items.columns)
common_items.head()

In [ ]:
common_items = common_items.drop_duplicates(subset=common_items.columns[:-1])
print(len(common_items))
print(common_items.columns)
common_items.head()

In [ ]:
break # start here

In [3]:
# set seed to reproduce results with tf and keras
from numpy.random import seed
seed(1)
# other imports
import numpy as np
import matplotlib.pyplot as plt
import pickle
import numpy as np
import pandas as pd
import pandas as pd

path =  "../../data/"
dataset = "cb12/"

raw_path = path + dataset + "raw/" 
interim_path = path + dataset + "interim/"
processed_path = path + dataset + "processed/"

In [4]:
common_items = pd.read_csv(interim_path + "common_items.csv", header=0, sep='\t')
common_items.head()

,item_id,state,title_emb_0,title_emb_1,title_emb_2,title_emb_3,title_emb_4,title_emb_5,title_emb_6,title_emb_7,...,req_emb_375,req_emb_376,req_emb_377,req_emb_378,req_emb_379,req_emb_380,req_emb_381,req_emb_382,req_emb_383,session_id
0,60,FL,-0.022986,0.054471,-0.016137,0.042382,-0.015666,-0.013569,0.114456,0.057535,...,0.051120,0.013713,-0.029943,-0.031015,0.029654,0.019965,0.076117,0.038724,-0.024348,22043
1,370,FL,-0.023253,0.037175,-0.022867,0.073320,-0.010799,0.072938,-0.011157,-0.040629,...,0.051120,0.013713,-0.029943,-0.031015,0.029654,0.019965,0.076117,0.038724,-0.024348,4202
2,408,TX,-0.036033,0.026866,0.004231,-0.040927,-0.160580,-0.009176,-0.020156,0.004622,...,0.051715,0.023357,-0.008167,-0.035972,0.032532,0.048992,-0.010257,-0.032904,0.008806,24557
3,413,TX,-0.110954,0.036132,0.086774,0.011018,-0.049355,-0.096480,0.138826,0.072407,...,0.076737,0.061164,0.030333,-0.019597,-0.009719,0.027730,0.067778,0.012815,-0.007592,3893
4,414,TX,-0.096945,0.046760,0.057774,-0.002553,-0.038834,-0.079842,0.131818,0.035696,...,0.079493,-0.038552,-0.006050,0.032081,0.015582,-0.045238,-0.021611,-0.037170,-0.003238,13903

In [5]:
common_items[common_items.columns[2:-1]].max().max()

0.40621856

In [6]:
common_items[common_items.columns[2:-1]].min().min()

-0.27831647

In [7]:
content_fields = ["state"]

one_hot = pd.get_dummies(data=common_items, columns=content_fields)

print(one_hot.shape)

one_hot = one_hot.set_index("item_id")
one_hot.head()

(21532, 1204)

,title_emb_0,title_emb_1,title_emb_2,title_emb_3,title_emb_4,title_emb_5,title_emb_6,title_emb_7,title_emb_8,title_emb_9,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
item_id,,,,,,,,,,,,,,,,,,,,,
60,-0.022986,0.054471,-0.016137,0.042382,-0.015666,-0.013569,0.114456,0.057535,-0.070021,-0.065805,...,False,False,False,False,False,False,False,False,False,False
370,-0.023253,0.037175,-0.022867,0.073320,-0.010799,0.072938,-0.011157,-0.040629,0.014959,0.024489,...,False,False,False,False,False,False,False,False,False,False
408,-0.036033,0.026866,0.004231,-0.040927,-0.160580,-0.009176,-0.020156,0.004622,-0.042073,-0.024213,...,False,False,True,False,False,False,False,False,False,False
413,-0.110954,0.036132,0.086774,0.011018,-0.049355,-0.096480,0.138826,0.072407,-0.086709,-0.000688,...,False,False,True,False,False,False,False,False,False,False
414,-0.096945,0.046760,0.057774,-0.002553,-0.038834,-0.079842,0.131818,0.035696,-0.059556,0.004492,...,False,False,True,False,False,False,False,False,False,False

In [8]:
one_hot.drop(columns=['session_id'], inplace=True)

In [9]:
combined = one_hot.applymap(str)
combined["repr"] = combined.apply(lambda x: ''.join(x), axis=1)
combined.head()

C:\Users\romai\AppData\Local\Temp\ipykernel_5564\2052936826.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  combined = one_hot.applymap(str)

,title_emb_0,title_emb_1,title_emb_2,title_emb_3,title_emb_4,title_emb_5,title_emb_6,title_emb_7,title_emb_8,title_emb_9,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,repr
item_id,,,,,,,,,,,,,,,,,,,,,
60,-0.022986362,0.054470833,-0.01613714,0.042382345,-0.015666232,-0.013569045,0.11445635,0.057534512,-0.070021346,-0.06580534,...,False,False,False,False,False,False,False,False,False,-0.0229863620.054470833-0.016137140.042382345-...
370,-0.02325286,0.037175413,-0.022867125,0.073319726,-0.01079944,0.072938114,-0.011157475,-0.040628895,0.014959358,0.02448902,...,False,False,False,False,False,False,False,False,False,-0.023252860.037175413-0.0228671250.073319726-...
408,-0.036032587,0.026865512,0.00423068,-0.040927228,-0.16058025,-0.00917587,-0.020155512,0.004621567,-0.04207294,-0.0242125,...,False,True,False,False,False,False,False,False,False,-0.0360325870.0268655120.00423068-0.040927228-...
413,-0.110953875,0.036131848,0.086774446,0.011018423,-0.04935517,-0.096479535,0.13882561,0.0724075,-0.08670943,-0.00068845524,...,False,True,False,False,False,False,False,False,False,-0.1109538750.0361318480.0867744460.011018423-...
414,-0.09694528,0.04675979,0.057773937,-0.0025531051,-0.03883351,-0.07984201,0.13181838,0.03569552,-0.059556168,0.0044920878,...,False,True,False,False,False,False,False,False,False,-0.096945280.046759790.057773937-0.0025531051-...

In [10]:
unique = combined["repr"].nunique()
total = len(combined["repr"])
ratio = unique / total
print(unique, total, ratio)

21332 21532 0.9907114991640349

In [11]:
unique, len(combined)

(21332, 21532)