In [1]:
import numpy as np
import pandas as pd
import subprocess
import argparse

C:\Users\romai\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

# Preprocessing CareerBuilder 2012

For the CareerBuilder 2012 dataset we first need to artificially create sessions out of the user internactions

In [2]:
def make_sessions(data, 
                  session_th=30 * 60, 
                  is_ordered=False, 
                  user_key='user_id', 
                  item_key='item_id', 
                  time_key='ts'):
    """Assigns session ids to the events in data without grouping keys"""
    if not is_ordered:
        # sort data by user and time
        data.sort_values(by=[user_key, time_key], ascending=True, inplace=True)
    # compute the time difference between queries
    tdiff = np.diff(data[time_key].values)
    # check which of them are bigger then session_th
    split_session = tdiff > session_th
    split_session = np.r_[True, split_session]
    # check when the user changes his data
    new_user = data['user_id'].values[1:] != data['user_id'].values[:-1]
    new_user = np.r_[True, new_user]
    # a new sessions starts when at least one of the two conditions is verified
    new_session = np.logical_or(new_user, split_session)
    # compute the session ids
    session_ids = np.cumsum(new_session)
    data['session_id'] = session_ids
    return data

# Test set

A test set can be either created by (1) adding the last session of every user to be tested or, (2) making a time-based split.

In [3]:
def last_n_days_out_split(data, n=1,
                          user_key='user_id',
                          item_key='item_id',
                          session_key='session_id',
                          time_key='ts',
                          clean_test=True,
                          min_session_length=2):
    """
    last n-days out split
    assign the sessions in the last n days to the test set and remaining to the training one
    """
    DAY = 24 * 60 * 60
    data.sort_values(by=[user_key, time_key], inplace=True)
    # start times of all sessions
    #sessions_start = data.groupby(session_key)[time_key].agg('min')
    # extract test start and end time
    end_time = data[time_key].max()
    test_start = end_time - n * DAY
    
    # get train and test indicies
    session_max_times = data.groupby(session_key)[time_key].max()
    session_train = session_max_times[session_max_times < test_start].index
    session_test = session_max_times[session_max_times >= test_start].index
    
    # in1d: Returns a boolean array the same length as ar1 that is True where 
    # an element of ar1 is in ar2 and False otherwise.
    train = data[
        np.in1d(
            data[session_key], 
            session_train
        )
    ].copy()
    test = data[
        np.in1d(
            data[session_key], 
            session_test
        )
    ].copy()

    if clean_test:
        print("Train item count: " + str(len(train[item_key].unique())))
        before_items = len(test[item_key].unique())
        # remove items which do not occur in the train set
        test = test[np.in1d(test[item_key], train[item_key])]
        after_items = len(test[item_key].unique())
        print("Test item count - Before filtering items which do not occur in the train set: " + str(before_items))
        print("Test item count - After filtering items which do not occur in the train set: " + str(after_items))
        
        #  remove sessions in test shorter than min_session_length
        tslength = test.groupby(session_key).size()
        test = test[
           np.in1d(
                test[session_key], 
                tslength[tslength >= min_session_length].index
            )
        ].copy()
    

    return train, test

#  1. Career Builder 12 processing

In [4]:
path =  "../../data/"
dataset = "cb12/"

raw_path = path + dataset + "raw/" 
interim_path = path + dataset + "interim/"
processed_path = path + dataset + "processed/"

For the Kaggle Career Builder 2012 dataset:
* Only have the **application** interaction is available

Sessions are partitioned by a **30-minute** idle time

Keep all sessions: users with >= 1 sessions and also overly active ones (< 200,000 sessions)

Link to dataset: https://www.kaggle.com/c/job-recommendation/data

In [5]:
pd.to_datetime(1333, unit="s")

Timestamp('1970-01-01 00:22:13')

In [6]:
pd.to_datetime(1333554983, unit="s")

Timestamp('2012-04-04 15:56:23')

In [7]:
interactions = pd.read_csv(raw_path + "apps.tsv", header=0, sep='\t')
interactions = interactions.rename(columns={"UserID": "user_id", "JobID": "item_id", "ApplicationDate": "created_at"})
interactions["interaction_type"] = 0 # no different interactions
interactions = interactions.drop(columns=["WindowID", "Split"])
interactions['created_at'] = interactions['created_at'].astype("datetime64[ms]").astype(np.int64) // 10**3 #// 10**9
interactions.to_csv(raw_path + "interactions.csv", sep='\t')
interactions.head()

   user_id  created_at  item_id  interaction_type
0       47  1333554983   169528                 0
1       47  1333674180   284009                 0
2       47  1333593627     2121                 0
3       47  1333593422   848187                 0
4       47  1333665846   733748                 0

In [8]:
# Read data
jobs = pd.read_csv(raw_path + "jobs.tsv", header=0, sep='\t', on_bad_lines='warn') #, error_bad_lines=False)
jobs = jobs.rename(columns={"JobID": "item_id", "State": "state", "Country": "country", "City": "city", "Zip5": "zip5"})
#jobs = jobs.set_index("item_id")

C:\Users\romai\AppData\Local\Temp\ipykernel_22604\3950337761.py:2: ParserWarning: Skipping line 122433: expected 11 fields, saw 12

  jobs = pd.read_csv(raw_path + "jobs.tsv", header=0, sep='\t', on_bad_lines='warn') #, error_bad_lines=False)
C:\Users\romai\AppData\Local\Temp\ipykernel_22604\3950337761.py:2: ParserWarning: Skipping line 602576: expected 11 fields, saw 12

  jobs = pd.read_csv(raw_path + "jobs.tsv", header=0, sep='\t', on_bad_lines='warn') #, error_bad_lines=False)
C:\Users\romai\AppData\Local\Temp\ipykernel_22604\3950337761.py:2: ParserWarning: Skipping line 990950: expected 11 fields, saw 12

  jobs = pd.read_csv(raw_path + "jobs.tsv", header=0, sep='\t', on_bad_lines='warn') #, error_bad_lines=False)
C:\Users\romai\AppData\Local\Temp\ipykernel_22604\3950337761.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs = pd.read_csv(raw_path + "jobs.tsv", header=0, sep='\t', on_bad_lines='warn') #, error_bad_lines=False)

In [9]:
# Get unique item_ids from interactions
unique_item_ids = jobs['item_id'].unique()
print(len(unique_item_ids))

print(len(interactions))
# Filter items where 'item_id' is in unique_item_ids
interactions = interactions[interactions["item_id"].isin(unique_item_ids)]
print(len(interactions))

1091923
1603111
1603078

In [10]:
del jobs

In [11]:
print("Start Time: {}".format(pd.to_datetime(interactions["created_at"].min(), unit="s")))
print("Start Time: {}".format(pd.to_datetime(interactions["created_at"].max(), unit="s")))

# remove NaN values
interactions = interactions[np.isfinite(interactions['created_at'])]
# convert back to long from float
interactions['created_at'] = interactions['created_at'].astype(np.int64)


interactions['interaction_type'] = interactions['interaction_type'].fillna(0).astype('int')


print('Building sessions')
# partition interactions into sessions with 30-minutes idle time
interactions = make_sessions(interactions, session_th=30 * 60, time_key='created_at', is_ordered=False)


display(interactions.head(3))
# drop duplicate interactions
interactions = interactions.drop_duplicates(['session_id','created_at'])

print('Original data:')
print('Num interactions: {}'.format(len(interactions)))
print('Num sessions: {}'.format(interactions.session_id.nunique()))
print('Num items: {}'.format(interactions.item_id.nunique()))
print('Num users: {}'.format(interactions.user_id.nunique()))

print("")
print('Filtering data')
# drop duplicate interactions within the same session
interactions.drop_duplicates(subset=['item_id', 'session_id', 'interaction_type'], keep='first', inplace=True)

# keep items with >=1 interactions
item_pop = interactions.item_id.value_counts()
#good_items = item_pop[item_pop >= 5].index
good_items = item_pop[item_pop >= 1].index
inter_dense = interactions[interactions.item_id.isin(good_items)]

# remove sessions with length < 3
session_length = inter_dense.session_id.value_counts()
good_sessions = session_length[session_length >= 3].index
inter_dense = inter_dense[inter_dense.session_id.isin(good_sessions)]


## Keep all sessions: users with >= 1 sessions and also overly active ones (< 200,000 sessions)
sess_per_user = inter_dense.groupby('user_id')['session_id'].nunique()
good_users = sess_per_user[(sess_per_user >= 1) & (sess_per_user < 200000)].index
inter_dense = inter_dense[inter_dense.user_id.isin(good_users)]

print('Filtered data:')
print('Num interactions: {}'.format(len(inter_dense)))
print('Num sessions: {}'.format(inter_dense.session_id.nunique()))
print('Num items: {}'.format(inter_dense.item_id.nunique()))
print('Num users: {}'.format(inter_dense.user_id.nunique()))

#inter_dense.to_csv(interim_path + "interactions.csv", sep='\t')

Start Time: 2012-04-01 00:00:21
Start Time: 2012-06-26 23:59:55
Building sessions

        user_id  created_at  item_id  interaction_type  session_id
563238        7  1335082466   309823                 0           1
563239        7  1335615478   703889                 0           2
780806        9  1337034642   809208                 0           3

Original data:
Num interactions: 1328810
Num sessions: 639527
Num items: 354285
Num users: 321231

Filtering data
Filtered data:
Num interactions: 697744
Num sessions: 123743
Num items: 213433
Num users: 91544

# 2. Create train and test set by doing a time-based (2 weeks) split

In [12]:
print('Partitioning data')
# last-session-out partitioning
## remove items which do not occur in the test set
## remove sessions in test shorter than min_session_length=2

print("len(inter_dense)")
print(len(inter_dense))
print(" -")
train_full_sessions, test_full_sessions = last_n_days_out_split(inter_dense, n=14,
                                                            user_key='user_id',
                                                            item_key='item_id',
                                                            session_key='session_id',
                                                            time_key='created_at',
                                                            clean_test=True)
print("")

Partitioning data
len(inter_dense)
697744
 -
Train item count: 197578
Test item count - Before filtering items which do not occur in the train set: 29534
Test item count - After filtering items which do not occur in the train set: 13679

In [13]:
train_full_sessions.head()

        user_id  created_at  item_id  interaction_type  session_id
780806        9  1337034642   809208                 0           3
780807        9  1337035117   136489                 0           3
780808        9  1337035689   617374                 0           3
780812       14  1337092157   206046                 0           7
780813       14  1337092390   787741                 0           7

In [14]:
## filtering the valid unique_sessions because the dataset is too big for my computer hardware

unique_sessions = train_full_sessions.session_id.unique()

train_valid_sessions = train_full_sessions.copy()

train_valid_sessions = train_valid_sessions[train_valid_sessions["session_id"].isin( unique_sessions[:11000])]

print("len(train_valid_sessions)")
print(len(train_valid_sessions))
print(" -")
train_valid_sessions, test_valid_sessions = last_n_days_out_split(train_valid_sessions, n=14, #train_full_sessions
                                                              user_key='user_id',
                                                              item_key='item_id',
                                                              session_key='session_id',
                                                              time_key='created_at',
                                                              clean_test=True)

# remove sessions with length < 3
train_valid_session_length = train_valid_sessions.session_id.value_counts()
train_valid_good_sessions = train_valid_session_length[train_valid_session_length >= 3].index
train_valid_sessions = train_valid_sessions[train_valid_sessions.session_id.isin(train_valid_good_sessions)]

test_valid_session_length = test_valid_sessions.session_id.value_counts()
test_valid_good_sessions = test_valid_session_length[test_valid_session_length >= 3].index
test_valid_sessions = test_valid_sessions[test_valid_sessions.session_id.isin(test_valid_good_sessions)]

len(train_valid_sessions)
60636
 -
Train item count: 34880
Test item count - Before filtering items which do not occur in the train set: 10820
Test item count - After filtering items which do not occur in the train set: 1861

In [15]:
train_full_sessions.head()

        user_id  created_at  item_id  interaction_type  session_id
780806        9  1337034642   809208                 0           3
780807        9  1337035117   136489                 0           3
780808        9  1337035689   617374                 0           3
780812       14  1337092157   206046                 0           7
780813       14  1337092390   787741                 0           7

In [16]:
# print statistics
"""
train_len = len(train_full_sessions.session_id.unique())
train_len = len(train_full_sessions.item_id.unique())

test_len = len(test_full_sessions.session_id.unique())
test_len = len(test_full_sessions.item_id.unique())

#merged_full = train_full_sessions.append(test_full_sessions, ignore_index=True)
merged_full = pd.concat([train_full_sessions, test_full_sessions], ignore_index=True)
merged_full = len(merged_full.item_id.unique())
"""
merged_full = pd.concat([train_full_sessions, test_full_sessions], ignore_index=True)

print("FULL DATA - TRAIN+TEST")
print("Train + Test - Interractions: " + str(len(merged_full)))
print("Train + Test - Sessions: " + str(len(train_full_sessions.session_id.unique()) + len(test_full_sessions.session_id.unique())))
print("Train + Test - Sessions: " + str(len(merged_full.session_id.unique())))
print("Train + Test - Items: " + str(len(merged_full.item_id.unique())))
print("Train + Test - Users: " + str(len(merged_full.user_id.unique())))

print("")
print("FULL DATA - TRAIN")
print("Training - Interractions: " + str(len(train_full_sessions)))
print("Training - Sessions: " + str(len(train_full_sessions.session_id.unique())))
print("Training - Items: " + str(len(train_full_sessions.item_id.unique())))
print("Training - Users: " + str(len(train_full_sessions.user_id.unique())))


print("")
print("FULL DATA - TEST")
print("Training - Interractions: " + str(len(train_full_sessions)))
print("Testing - Sessions: " + str(len(test_full_sessions.session_id.unique())))
print("Testing - Items: " + str(len(test_full_sessions.item_id.unique())))
print("Testing - Users: " + str(len(test_full_sessions.user_id.unique())))

print("the case of the much larger CarrerBuilder12 dataset, the train set contains 108, 783 sessions, whereas the test set has 11, 364 sessions")

FULL DATA - TRAIN+TEST
Train + Test - Interractions: 661892
Train + Test - Sessions: 120144
Train + Test - Sessions: 120144
Train + Test - Items: 197578
Train + Test - Users: 88981

FULL DATA - TRAIN
Training - Interractions: 599928
Training - Sessions: 108780
Training - Items: 197578
Training - Users: 81214

FULL DATA - TEST
Training - Interractions: 599928
Testing - Sessions: 11364
Testing - Items: 13361
Testing - Users: 9852
the case of the much larger CarrerBuilder12 dataset, the train set contains 108, 783 sessions, whereas the test set has 11, 364 sessions

In [17]:
merged_valid = pd.concat([train_valid_sessions, test_valid_sessions], ignore_index=True)

print("VALID DATA - TRAIN+TEST")
print("Train + Test - Interractions: " + str(len(merged_valid)))
print("Train + Test - Sessions: " + str(len(train_valid_sessions.session_id.unique()) + len(test_valid_sessions.session_id.unique())))
print("Train + Test - Sessions: " + str(len(merged_valid.session_id.unique())))
print("Train + Test - Items: " + str(len(merged_valid.item_id.unique())))
print("Train + Test - Users: " + str(len(merged_valid.user_id.unique())))

print("")
print("VALID DATA - TRAIN")
print("Training - Interractions: " + str(len(train_valid_sessions)))
print("Training - Sessions: " + str(len(train_valid_sessions.session_id.unique())))
print("Training - Items: " + str(len(train_valid_sessions.item_id.unique())))
print("Training - Users: " + str(len(train_valid_sessions.user_id.unique())))


print("")
print("VALID DATA - TEST")
print("Training - Interractions: " + str(len(test_valid_sessions)))
print("Testing - Sessions: " + str(len(test_valid_sessions.session_id.unique())))
print("Testing - Items: " + str(len(test_valid_sessions.item_id.unique())))
print("Testing - Users: " + str(len(test_valid_sessions.user_id.unique())))

merged_valid.to_csv(interim_path + "merged_valid_interactions.csv", sep='\t')

VALID DATA - TRAIN+TEST
Train + Test - Interractions: 47423
Train + Test - Sessions: 9094
Train + Test - Sessions: 9094
Train + Test - Items: 34880
Train + Test - Users: 6988

VALID DATA - TRAIN
Training - Interractions: 45392
Training - Sessions: 8753
Training - Items: 34880
Training - Users: 6783

VALID DATA - TEST
Training - Interractions: 2031
Testing - Sessions: 341
Testing - Items: 1426
Testing - Users: 309

In [18]:
merged_valid.head()

   user_id  created_at  item_id  interaction_type  session_id
0        9  1337034642   809208                 0           3
1        9  1337035117   136489                 0           3
2        9  1337035689   617374                 0           3
3       14  1337092157   206046                 0           7
4       14  1337092390   787741                 0           7

In [19]:
count=0

for i in test_valid_sessions["item_id"].unique():
    if i not in train_valid_sessions["item_id"].unique():
        print(i)
        count+=1
if count==0:
    print("all items=job IDs from test are in train")
print("END")

all items=job IDs from test are in train
END

In [20]:
count=0
test_list = [926802, 44221]
for i in test_list:
    if i not in test_valid_sessions["item_id"].unique():
        print(i)
        count+=1
if count==0:
    print("all items=job IDs from test are in test_valid_sessions")
print("END")

926802
44221
END

In [21]:
count=0
test_list = [926802, 44221]
for i in test_list:
    if i not in train_valid_sessions["item_id"].unique():
        print(i)
        count+=1
if count==0:
    print("all items=job IDs from test are in train_valid_sessions")
print("END")

all items=job IDs from test are in train_valid_sessions
END

In [22]:
#test to concat train_full_sessions, test_full_sessions to get the same stat as Lacic
# comparison with original paper

merged_full.head()
#CareerBuilder12 661,910 120,147 197,590
print('Num interractions: {}'.format(merged_full.interaction_type.count()))
print('Num interractions: 661,910')
print('')
print('Num sessions: {}'.format(merged_full.session_id.nunique()))
print('Num sessions: 120,147')
print('')
print('Num items: {}'.format(merged_full.item_id.nunique()))
print('Num items: 197,590')
print('')
print('Num users: {}'.format(merged_full.user_id.nunique()))

merged_full.to_csv(interim_path + "merged_full_interactions.csv", sep='\t')

Num interractions: 661892
Num interractions: 661,910

Num sessions: 120144
Num sessions: 120,147

Num items: 197578
Num items: 197,590

Num users: 88981

# 3. Store train and test sets

In [23]:
train_full_sessions.to_csv(processed_path + "train_14d.csv", sep='\t')
test_full_sessions.to_csv(processed_path + "test_14d.csv", sep='\t')
train_valid_sessions.to_csv(processed_path + "train_valid_14d.csv", sep='\t')
test_valid_sessions.to_csv(processed_path + "test_valid_14d.csv", sep='\t')

# 4. Create train and test session vectors

In [24]:
# Create vocabulary from train set
unique_train_items = train_valid_sessions.item_id.unique()
# store (or load)
unique_train_items_df = pd.DataFrame(unique_train_items, columns=["item_id"])
print(len(unique_train_items_df))

unique_train_items_df.to_csv(interim_path + 'valid_vocabulary.csv', header=True)
unique_train_items_df = pd.read_csv(interim_path + 'valid_vocabulary.csv', index_col=0)

34880

In [25]:
# Create vocabulary from train set
unique_train_items = train_full_sessions.item_id.unique()
# store (or load)
unique_train_items_df = pd.DataFrame(unique_train_items, columns=["item_id"])
print(len(unique_train_items_df))

unique_train_items_df.to_csv(interim_path + 'vocabulary.csv', header=True)
unique_train_items_df = pd.read_csv(interim_path + 'vocabulary.csv', index_col=0)

197578

In [26]:
unique_train_items_df.head()

   item_id
0   809208
1   136489
2   617374
3   206046
4   787741

In [27]:
unique_train_items_dict = unique_train_items_df.to_dict('dict')["item_id"]
# inverse that item_id is key and index is value
unique_train_items_dict_inv = {v: k for k, v in unique_train_items_dict.items()}

session_ids = train_full_sessions.session_id.unique()

In [28]:
unique_train_items_dict_inv

{809208: 0,
 136489: 1,
 617374: 2,
 206046: 3,
 787741: 4,
 663552: 5,
 787477: 6,
 828603: 7,
 187311: 8,
 1083186: 9,
 516837: 10,
 507614: 11,
 754917: 12,
 686406: 13,
 1058896: 14,
 335132: 15,
 576958: 16,
 848187: 17,
 602298: 18,
 2121: 19,
 586119: 20,
 785425: 21,
 97989: 22,
 281940: 23,
 666073: 24,
 337025: 25,
 849501: 26,
 1016452: 27,
 911643: 28,
 453411: 29,
 425464: 30,
 883817: 31,
 816846: 32,
 13175: 33,
 758079: 34,
 148976: 35,
 1032422: 36,
 896906: 37,
 178574: 38,
 790333: 39,
 533790: 40,
 900480: 41,
 57774: 42,
 507238: 43,
 614418: 44,
 67951: 45,
 779830: 46,
 285976: 47,
 499860: 48,
 213199: 49,
 674313: 50,
 23313: 51,
 524716: 52,
 23620: 53,
 57771: 54,
 460843: 55,
 758714: 56,
 634527: 57,
 1088828: 58,
 455213: 59,
 775441: 60,
 155390: 61,
 590247: 62,
 450025: 63,
 151834: 64,
 1021186: 65,
 1021171: 66,
 167313: 67,
 500312: 68,
 280681: 69,
 1114576: 70,
 662253: 71,
 366888: 72,
 449169: 73,
 153632: 74,
 1008042: 75,
 680718: 76,
 473911: 77,
 403896: 78,
 600033: 79,
 802921: 80,
 300053: 81,
 497069: 82,
 600058: 83,
 283949: 84,
 1066757: 85,
 627377: 86,
 812337: 87,
 1078274: 88,
 196603: 89,
 146817: 90,
 946506: 91,
 271546: 92,
 850543: 93,
 168265: 94,
 585922: 95,
 892070: 96,
 13914: 97,
 1008855: 98,
 613741: 99,
 1035414: 100,
 1046605: 101,
 562908: 102,
 900082: 103,
 222539: 104,
 187357: 105,
 234872: 106,
 854294: 107,
 1010392: 108,
 253860: 109,
 980370: 110,
 39656: 111,
 558034: 112,
 831117: 113,
 324047: 114,
 928314: 115,
 959412: 116,
 555305: 117,
 547360: 118,
 279574: 119,
 1008633: 120,
 1008634: 121,
 1093566: 122,
 585072: 123,
 45668: 124,
 614923: 125,
 277599: 126,
 329102: 127,
 921271: 128,
 329104: 129,
 300280: 130,
 907049: 131,
 1010228: 132,
 676801: 133,
 816890: 134,
 39407: 135,
 900568: 136,
 775477: 137,
 276926: 138,
 306734: 139,
 778617: 140,
 608556: 141,
 1039146: 142,
 1061408: 143,
 551465: 144,
 86106: 145,
 584241: 146,
 327571: 147,
 581543: 148,
 875130: 149,
 873383: 150,
 826651: 151,
 863335: 152,
 885999: 153,
 862100: 154,
 670678: 155,
 211996: 156,
 806820: 157,
 824094: 158,
 275594: 159,
 262804: 160,
 872869: 161,
 1072738: 162,
 572653: 163,
 168301: 164,
 784864: 165,
 559185: 166,
 961987: 167,
 39428: 168,
 495252: 169,
 1098334: 170,
 26551: 171,
 585754: 172,
 792179: 173,
 625840: 174,
 817884: 175,
 147729: 176,
 317560: 177,
 561197: 178,
 283201: 179,
 867262: 180,
 1093496: 181,
 1103823: 182,
 198266: 183,
 874448: 184,
 811760: 185,
 38453: 186,
 953054: 187,
 1027161: 188,
 598064: 189,
 997554: 190,
 663576: 191,
 434301: 192,
 330358: 193,
 317538: 194,
 85133: 195,
 38460: 196,
 878738: 197,
 11070: 198,
 663571: 199,
 146259: 200,
 573176: 201,
 638861: 202,
 79201: 203,
 821864: 204,
 1051929: 205,
 780938: 206,
 473226: 207,
 553847: 208,
 313438: 209,
 520998: 210,
 559544: 211,
 747052: 212,
 576930: 213,
 1066623: 214,
 63481: 215,
 870411: 216,
 1029159: 217,
 1112793: 218,
 1056810: 219,
 211282: 220,
 928711: 221,
 1012931: 222,
 224430: 223,
 1113534: 224,
 343907: 225,
 655189: 226,
 670312: 227,
 175823: 228,
 313113: 229,
 1041537: 230,
 795653: 231,
 102586: 232,
 132825: 233,
 446700: 234,
 247848: 235,
 17306: 236,
 622699: 237,
 631466: 238,
 576251: 239,
 22513: 240,
 544027: 241,
 747871: 242,
 117126: 243,
 775333: 244,
 260013: 245,
 581498: 246,
 811381: 247,
 95502: 248,
 857936: 249,
 1107096: 250,
 81237: 251,
 817695: 252,
 437410: 253,
 467601: 254,
 258195: 255,
 109154: 256,
 1020385: 257,
 744427: 258,
 633510: 259,
 798571: 260,
 240454: 261,
 538897: 262,
 939381: 263,
 900429: 264,
 465218: 265,
 87582: 266,
 587273: 267,
 1042652: 268,
 911880: 269,
 22857: 270,
 459: 271,
 1065922: 272,
 194616: 273,
 521324: 274,
 358152: 275,
 861421: 276,
 837892: 277,
 997521: 278,
 326474: 279,
 899718: 280,
 512682: 281,
 364189: 282,
 971791: 283,
 62233: 284,
 759457: 285,
 794983: 286,
 1027587: 287,
 279474: 288,
 512877: 289,
 81178: 290,
 345731: 291,
 1000100: 292,
 928052: 293,
 130217: 294,
 254426: 295,
 1026774: 296,
 362519: 297,
 833270: 298,
 1106313: 299,
 492315: 300,
 924867: 301,
 292175: 302,
 574621: 303,
 901092: 304,
 528778: 305,
 653716: 306,
 131773: 307,
 881830: 308,
 242150: 309,
 28124: 310,
 300774: 311,
 880231: 312,
 961415: 313,
 167006: 314,
 822675: 315,
 16670: 316,
 381978: 317,
 496169: 318,
 339201: 319,
 212094: 320,
 927775: 321,
 601021: 322,
 1050681: 323,
 911848: 324,
 852823: 325,
 608460: 326,
 1059199: 327,
 637143: 328,
 635828: 329,
 34944: 330,
 924065: 331,
 85097: 332,
 682296: 333,
 82091: 334,
 929041: 335,
 70702: 336,
 372360: 337,
 534885: 338,
 751861: 339,
 317353: 340,
 151034: 341,
 801161: 342,
 300825: 343,
 874853: 344,
 446200: 345,
 836: 346,
 681934: 347,
 400589: 348,
 835422: 349,
 27752: 350,
 168181: 351,
 1020832: 352,
 766450: 353,
 811667: 354,
 838682: 355,
 383215: 356,
 82824: 357,
 225637: 358,
 914990: 359,
 253618: 360,
 146648: 361,
 316116: 362,
 773992: 363,
 977165: 364,
 1097433: 365,
 367763: 366,
 431019: 367,
 420276: 368,
 1030170: 369,
 788269: 370,
 452656: 371,
 417505: 372,
 418063: 373,
 165691: 374,
 264161: 375,
 1062188: 376,
 466171: 377,
 811982: 378,
 1013337: 379,
 565013: 380,
 854862: 381,
 277574: 382,
 994887: 383,
 1105664: 384,
 581329: 385,
 845425: 386,
 1016970: 387,
 571722: 388,
 634528: 389,
 863540: 390,
 580515: 391,
 636738: 392,
 587356: 393,
 1095833: 394,
 562435: 395,
 1056128: 396,
 872758: 397,
 313521: 398,
 220479: 399,
 1115179: 400,
 880432: 401,
 1098087: 402,
 926746: 403,
 593207: 404,
 199021: 405,
 375105: 406,
 884545: 407,
 1288: 408,
 920420: 409,
 843369: 410,
 17626: 411,
 575991: 412,
 885405: 413,
 198693: 414,
 57950: 415,
 25817: 416,
 234280: 417,
 852660: 418,
 167279: 419,
 958217: 420,
 466113: 421,
 568566: 422,
 271703: 423,
 995492: 424,
 646987: 425,
 1018956: 426,
 1091811: 427,
 241710: 428,
 382051: 429,
 1031168: 430,
 146979: 431,
 1035451: 432,
 765897: 433,
 749161: 434,
 1069273: 435,
 736994: 436,
 557338: 437,
 1019105: 438,
 881095: 439,
 939599: 440,
 452709: 441,
 314248: 442,
 366874: 443,
 296001: 444,
 1027014: 445,
 496297: 446,
 1103350: 447,
 627760: 448,
 228322: 449,
 1017266: 450,
 16209: 451,
 41896: 452,
 99363: 453,
 158289: 454,
 625232: 455,
 354354: 456,
 710546: 457,
 791739: 458,
 512852: 459,
 28551: 460,
 551678: 461,
 879385: 462,
 559835: 463,
 368751: 464,
 92042: 465,
 52923: 466,
 253274: 467,
 248211: 468,
 882600: 469,
 812095: 470,
 212272: 471,
 212273: 472,
 32291: 473,
 896613: 474,
 1010822: 475,
 922397: 476,
 30921: 477,
 863147: 478,
 955408: 479,
 78225: 480,
 223768: 481,
 762336: 482,
 597973: 483,
 137959: 484,
 757364: 485,
 457532: 486,
 42047: 487,
 925033: 488,
 911207: 489,
 785117: 490,
 278659: 491,
 1023925: 492,
 540692: 493,
 1008584: 494,
 1036561: 495,
 198374: 496,
 27155: 497,
 279753: 498,
 822459: 499,
 607773: 500,
 896249: 501,
 326391: 502,
 135330: 503,
 947538: 504,
 459734: 505,
 625871: 506,
 882305: 507,
 560661: 508,
 325490: 509,
 853616: 510,
 259976: 511,
 497503: 512,
 786461: 513,
 496998: 514,
 970545: 515,
 576164: 516,
 707450: 517,
 576862: 518,
 1006961: 519,
 79387: 520,
 86281: 521,
 456173: 522,
 578014: 523,
 1016581: 524,
 823513: 525,
 364899: 526,
 1055583: 527,
 339072: 528,
 15843: 529,
 795579: 530,
 677056: 531,
 873966: 532,
 789909: 533,
 74936: 534,
 825026: 535,
 42066: 536,
 341878: 537,
 930526: 538,
 341876: 539,
 341875: 540,
 764385: 541,
 904572: 542,
 1084242: 543,
 899900: 544,
 639112: 545,
 780613: 546,
 99595: 547,
 199255: 548,
 29091: 549,
 884701: 550,
 352758: 551,
 324320: 552,
 161537: 553,
 537974: 554,
 788193: 555,
 743936: 556,
 862867: 557,
 673625: 558,
 518251: 559,
 972562: 560,
 472539: 561,
 15992: 562,
 178691: 563,
 586819: 564,
 799486: 565,
 278081: 566,
 932486: 567,
 176618: 568,
 271432: 569,
 547566: 570,
 571814: 571,
 184428: 572,
 451965: 573,
 700936: 574,
 777881: 575,
 333874: 576,
 858238: 577,
 764091: 578,
 505127: 579,
 14516: 580,
 581944: 581,
 1029035: 582,
 11579: 583,
 187379: 584,
 251007: 585,
 166922: 586,
 167369: 587,
 962827: 588,
 607197: 589,
 10764: 590,
 603044: 591,
 663818: 592,
 444292: 593,
 130816: 594,
 295823: 595,
 927754: 596,
 50862: 597,
 774247: 598,
 814970: 599,
 466960: 600,
 179675: 601,
 640533: 602,
 230536: 603,
 478163: 604,
 156753: 605,
 512323: 606,
 922779: 607,
 908375: 608,
 639498: 609,
 84455: 610,
 87801: 611,
 881350: 612,
 281804: 613,
 786735: 614,
 300910: 615,
 261488: 616,
 472197: 617,
 1012976: 618,
 624159: 619,
 334844: 620,
 969925: 621,
 501534: 622,
 931330: 623,
 811914: 624,
 150909: 625,
 560528: 626,
 624163: 627,
 917569: 628,
 166298: 629,
 511674: 630,
 261750: 631,
 959551: 632,
 835102: 633,
 1076688: 634,
 839498: 635,
 197738: 636,
 300444: 637,
 188404: 638,
 2519: 639,
 489071: 640,
 570788: 641,
 6867: 642,
 1010027: 643,
 630912: 644,
 166742: 645,
 510346: 646,
 515123: 647,
 90751: 648,
 480263: 649,
 596465: 650,
 493173: 651,
 272568: 652,
 262764: 653,
 108437: 654,
 13470: 655,
 775479: 656,
 264110: 657,
 576079: 658,
 148571: 659,
 262485: 660,
 247857: 661,
 243596: 662,
 862781: 663,
 179975: 664,
 327678: 665,
 284009: 666,
 263727: 667,
 515420: 668,
 1007701: 669,
 611077: 670,
 1028472: 671,
 152707: 672,
 860500: 673,
 768429: 674,
 311769: 675,
 878029: 676,
 1050796: 677,
 860501: 678,
 862530: 679,
 999242: 680,
 595627: 681,
 1093039: 682,
 596092: 683,
 327070: 684,
 567681: 685,
 780080: 686,
 733218: 687,
 150140: 688,
 214609: 689,
 187806: 690,
 219637: 691,
 456095: 692,
 867275: 693,
 870269: 694,
 275090: 695,
 561914: 696,
 1086990: 697,
 475318: 698,
 647317: 699,
 700160: 700,
 108399: 701,
 338593: 702,
 91159: 703,
 815310: 704,
 806476: 705,
 1055915: 706,
 324334: 707,
 584164: 708,
 501646: 709,
 33166: 710,
 686550: 711,
 811871: 712,
 857834: 713,
 863238: 714,
 812436: 715,
 176722: 716,
 45602: 717,
 411288: 718,
 803383: 719,
 55049: 720,
 726548: 721,
 811978: 722,
 657477: 723,
 447780: 724,
 267326: 725,
 911258: 726,
 995565: 727,
 908400: 728,
 1020215: 729,
 338495: 730,
 171529: 731,
 201831: 732,
 261539: 733,
 861532: 734,
 1051951: 735,
 543778: 736,
 573001: 737,
 921603: 738,
 873093: 739,
 919914: 740,
 46880: 741,
 742591: 742,
 632881: 743,
 1074772: 744,
 522834: 745,
 680885: 746,
 1097676: 747,
 175157: 748,
 911691: 749,
 524833: 750,
 381422: 751,
 524835: 752,
 911706: 753,
 964825: 754,
 235139: 755,
 41137: 756,
 614681: 757,
 587454: 758,
 491875: 759,
 887088: 760,
 820994: 761,
 184712: 762,
 1097435: 763,
 850470: 764,
 900113: 765,
 562948: 766,
 1044573: 767,
 476140: 768,
 14034: 769,
 85288: 770,
 210530: 771,
 824400: 772,
 498582: 773,
 846308: 774,
 37042: 775,
 355899: 776,
 1043793: 777,
 1043792: 778,
 959722: 779,
 635372: 780,
 36005: 781,
 30596: 782,
 330415: 783,
 353612: 784,
 330395: 785,
 363643: 786,
 221224: 787,
 13504: 788,
 146216: 789,
 262867: 790,
 638436: 791,
 565766: 792,
 507634: 793,
 461936: 794,
 911535: 795,
 314551: 796,
 969220: 797,
 446937: 798,
 446938: 799,
 382199: 800,
 1038309: 801,
 335155: 802,
 580687: 803,
 812542: 804,
 473418: 805,
 1075287: 806,
 198217: 807,
 490211: 808,
 1099557: 809,
 15944: 810,
 579360: 811,
 516444: 812,
 891879: 813,
 26549: 814,
 843975: 815,
 952877: 816,
 1012483: 817,
 399173: 818,
 330282: 819,
 299713: 820,
 324890: 821,
 363460: 822,
 286790: 823,
 616414: 824,
 1101147: 825,
 679144: 826,
 16310: 827,
 581500: 828,
 751936: 829,
 884666: 830,
 1028643: 831,
 267691: 832,
 331050: 833,
 838334: 834,
 238784: 835,
 293491: 836,
 81938: 837,
 824871: 838,
 844661: 839,
 785430: 840,
 1047550: 841,
 681892: 842,
 809565: 843,
 63659: 844,
 1093390: 845,
 241882: 846,
 817976: 847,
 782107: 848,
 584057: 849,
 230268: 850,
 881420: 851,
 809533: 852,
 267376: 853,
 829431: 854,
 868965: 855,
 885046: 856,
 911679: 857,
 445231: 858,
 341751: 859,
 311075: 860,
 27232: 861,
 399802: 862,
 245240: 863,
 238722: 864,
 177428: 865,
 595818: 866,
 550481: 867,
 904832: 868,
 1099789: 869,
 1067637: 870,
 760691: 871,
 1028161: 872,
 190425: 873,
 512733: 874,
 925130: 875,
 997576: 876,
 216783: 877,
 502296: 878,
 750270: 879,
 1056574: 880,
 189314: 881,
 872632: 882,
 1036155: 883,
 909107: 884,
 449127: 885,
 1031039: 886,
 198045: 887,
 624153: 888,
 882121: 889,
 510884: 890,
 816417: 891,
 873209: 892,
 278381: 893,
 1029023: 894,
 178126: 895,
 284394: 896,
 759702: 897,
 418208: 898,
 1029022: 899,
 634266: 900,
 973734: 901,
 30611: 902,
 295870: 903,
 874543: 904,
 812299: 905,
 946702: 906,
 282146: 907,
 663169: 908,
 100270: 909,
 245089: 910,
 614344: 911,
 330380: 912,
 625876: 913,
 628656: 914,
 1009943: 915,
 630382: 916,
 793132: 917,
 488367: 918,
 1088654: 919,
 143923: 920,
 1052085: 921,
 253964: 922,
 179830: 923,
 254884: 924,
 289594: 925,
 310960: 926,
 1513: 927,
 219568: 928,
 780671: 929,
 163977: 930,
 78117: 931,
 75505: 932,
 578546: 933,
 825320: 934,
 729839: 935,
 189300: 936,
 884060: 937,
 314203: 938,
 939191: 939,
 932856: 940,
 143274: 941,
 146664: 942,
 807994: 943,
 696315: 944,
 1107398: 945,
 285318: 946,
 455833: 947,
 110943: 948,
 668175: 949,
 284089: 950,
 108280: 951,
 188928: 952,
 496675: 953,
 487414: 954,
 844932: 955,
 217767: 956,
 1057351: 957,
 159639: 958,
 1075925: 959,
 180007: 960,
 1018946: 961,
 28942: 962,
 820391: 963,
 796438: 964,
 628722: 965,
 73205: 966,
 479201: 967,
 924811: 968,
 901676: 969,
 963494: 970,
 224036: 971,
 516268: 972,
 212521: 973,
 515271: 974,
 1028015: 975,
 819883: 976,
 1006313: 977,
 215332: 978,
 749166: 979,
 2238: 980,
 157281: 981,
 815253: 982,
 182086: 983,
 298954: 984,
 932594: 985,
 59591: 986,
 507679: 987,
 492031: 988,
 287704: 989,
 708589: 990,
 947072: 991,
 559658: 992,
 1013204: 993,
 756207: 994,
 756167: 995,
 756122: 996,
 45939: 997,
 342886: 998,
 182108: 999,
 ...}